Package: enigma2-plugin-extensions-dreamfin
Version: 0.1.0
Description: Emby/Jellyfin client for Enigma2, derived from DreamPlex
Section: extra
Priority: optional
Maintainer: jrodzar
Architecture: all
Homepage: https://github.com/jrodzar/DreamFin
Source: https://github.com/jrodzar/DreamFin
